@model IEnumerable<Basket>

@{
    ViewData["Title"] = "Basket";
    ViewBag.TotalPrice = @Model.Sum(m => m.Quantity * m.Product.Price);
}

<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
     data-z-index="-100"
     data-appear-top-offset="600"
     data-parallax="scroll"
     data-image-src=@Url.Content("~/assets/images/parallax/bgparallax-07.jpg")>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Basket</h1>
                    <ol class="tg-breadcrumb">
                        <li><a asp-controller="home" asp-action="index">home</a></li>
                        <li class="tg-active">Basket</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart-main-area pb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-12">
                @if (Model != null && Model.Any())
                {

                    <form method="post">
                        <div class="table-content table-responsive mb-50">
                            @*<table>
                        <thead>
                        <tr>
                        <th class="product-thumbnail">Image</th>
                        <th class="product-name">Book</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                        <th class="product-remove">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="basket-item-@item.BookId">
                        <td class="product-thumbnail">
                        <a target="_blank" asp-action="details" asp-route-id="@item.BookId">
                        <img src="~/uploads/images/@item.Book.ImagePath" alt="cart-image" />
                        </a>
                        </td>
                        <td class="product-name">
                        <a target="_blank" asp-action="details" asp-route-id="@item.BookId">@item.Book.Name</a>
                        </td>
                        <td class="product-price">
                        <span class="amount">@item.Book.Price.ToString("0.00₼")</span>
                        </td>
                        <td class="product-quantity">
                        <input type="number" data-book-id="@item.BookId" min="1" onchange="changeQuantity(event,this)" value="@item.Quantity" />
                        </td>
                        <td class="product-subtotal">@((item.Book.Price * item.Quantity).ToString("0.00₼"))</td>
                        <td class="product-remove">
                        <a onclick="removeFromBasket(this, '@item.Book.Name');return"
                        data-book-id="@item.BookId"
                        aria-remove-target=".basket-item-@item.BookId">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                        </td>
                        </tr>
                        }
                        </tbody>
                        </table>*@

                            <div>
                                @foreach (var item in Model)
                                {
                                    <div class="row" style="display: flex; justify-content: center; align-items: center; gap: 10rem; margin: 10rem 0;">
                                        <section class="wishlist-book-wrp">
                                            <div class="product-thumbnail">
                                                <div class="wishlist-gen wishlist-img-wrp">
                                                    <a asp-action="details" asp-controller="book" asp-route-id="@item.ProductId">
                                                        <img src="~/uploads/images/@item.Product.ImagePath" alt="cart-image" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-name">
                                                <a target="_blank" asp-action="details" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="amount">@item.Product.Price.ToString("0.00₼")</span>
                                            </div>
                                            <div class="product-quantity">
                                                <input type="number" data-product-id="@item.ProductId" min="1" onchange="changeQuantity(event,this)" value="@item.Quantity" />
                                            </div>
                                            <div class="product-subtotal">@((item.Product.Price * item.Quantity).ToString("0.00₼"))</div>
                                            <div class="product-remove">
                                                <a onclick="removeFromBasket(this, '@item.Product.Name');return"
                                           data-product-id="@item.ProductId"
                                           aria-remove-target=".basket-item-@item.ProductId">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </section>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px">
                            @*<div class="col-md-8 col-sm-7 col-12">
                        <div class="buttons-cart">
                        @*<input type="submit" value="Update Cart" />
                        <a class="tg-btn tg-active" asp-controller="Book" asp-action="index">Continue to shopping :)</a>
                        </div>
                        </div>*@
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="cart_totals">
                                    <h2>Cart Totals</h2>
                                    <br />
                                    <table>
                                        <tbody>
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td>
                                                    <strong><span class="amount" id="summary">@Model.Sum(m=>m.Quantity * m.Product.Price).ToString("0.00₼")</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout row">
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <a class="tg-btn tg-active" style="margin-bottom: 15px" asp-controller="products" asp-action="Checkout" asp-route-id="@Model.">Payment</a>
                                        </div>

                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <a class="tg-btn tg-active" style="padding: 0 9px" asp-controller="products" asp-action="index">Continue to shopping :)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <p>Empty card :(</p>

                }
            </div>
        </div>
    </div>
</div>