@model OrderViewModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="page-header">
    <div class="page-header-content bg_image_header jarallax">
        <div class="container">
            <h1 class="heading">Checkout</h1>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="shopping_cart">
        <div class="container">
<table class="cart_table">
    <tr class="cart_header">
        <th class="cart_header_removal"></th>
        <th class="cart_header_title">Product</th>
        <th class="cart_header_price"></th>
        <th class="cart_header_quantity"></th>
        <th class="cart_header_total">Quantity</th>
    </tr>
    @foreach (var item in Model.BasketProducts)
    {
        <tr class="cart_content">
            <td class="cart_removal product-remove">
            </td>
            <td class="cart_title"><span class="cart_image"><img src="~/uploads/images/@item.Product.ImagePath" alt="@item.Product.Name" /></span> @item.Product.Name</td>
            <td></td>
            <td></td>

            <td class="price">
                @item.Product.Price.ToString("0.00₼")
                <span class="count">x @item.Quantity</span>
            </td>
        </tr>
    }
</table>
            <div class="shipping_form">
                <form id="checkout-form" method="POST" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="label_shipping">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="fname">First Name*</label>
                                        <input type="text" class="form-control" asp-for="@Model.OrderDetails.Firstname" placeholder="">
                                        <span asp-validation-for="@Model.OrderDetails.Firstname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lname">Last Name*</label>
                                        <input type="text" class="form-control" asp-for="@Model.OrderDetails.Lastname" placeholder="">
                                        <span asp-validation-for="@Model.OrderDetails.Lastname" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="street">Address*</label>
                                <input type="text" class="form-control" asp-for="@Model.OrderDetails.Address" placeholder="">
                                <span asp-validation-for="@Model.OrderDetails.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone*</label>
                                <input type="text" class="form-control" asp-for="@Model.OrderDetails.PhoneNumber" placeholder="">
                                <span asp-validation-for="@Model.OrderDetails.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="col-lg-6">
                                <div class="additional_info">
                                    <div class="label_shipping">
                                        <h3>Additional Information</h3>
                                    </div>
                                    <div class="form-group">
                                        <label for="info">Order Notes (Optional)</label>
                                        <textarea asp-for="@Model.OrderDetails.Notes" class="form-control" placeholder="Notes about your order, e.g. Special Notes for Delivery*"></textarea>
                                        <span asp-validation-for="@Model.OrderDetails.Notes" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="checkout_cart_total">
                                    <h3 class="grand_title">Cart Total</h3>
                                    <ul>
                                        <li class="totalvalue"><span class="cost_per">Total</span> <span class="value">@Model.BasketProducts.Sum(p => (p.Product.Price * p.Quantity)) ₼</span></li>
                                    </ul>
                                </div>

                                <div class="check_payment_group">
                                    <div class="check_payment">
                                        <label class="radio_circle">
                                            Cash
                                            <input type="radio" checked="checked" name="paymethod" value="cash">
                                            <span class="checkmark"></span>
                                        </label>
                                        <p class="payment_message">    </p>
                                    </div>

                                    <div class="check_payment paytype">
                                        <label class="radio_circle">
                                            Card
                                            <input type="radio" name="paymethod" value="card">
                                            <span class="checkmark"></span>
                                        </label>
                                        <input type="text" class="form-control" id="card" name="card" placeholder="1234-5678-9012-3456">
                                        <input type="text" class="form-control" placeholder="Full Name">
                                        <input type="text" class="form-control" placeholder="Expiration (mm/yy)">
                                        <input type="text" class="form-control" placeholder="CVV">
                                    </div>

                                    <div class="check_payment">
                                        <p>
                                            Your personal data will be used to process your order, support your experience throughout this website and for other
                                            porposes described in our privacy policy.
                                        </p>
                                    </div>
                                </div>
                                <div class="button_group">
                                    <button class="button"><a asp-controller="products" asp-action="basket">Back to Basket</a></button>
                                    <button class="button" type="submit">Place Order</button>
                                </div>
                            </div>

                            <input asp-for="OrderDetails.TotalPrice" value="@Model.BasketProducts.Sum(p => (p.Product.Price * p.Quantity))" hidden />
                            <input asp-for="OrderDetails.CreatedByUserId" value="@User.GetCurrentUserId()" hidden />
                            @for (int i = 0; i < Model.BasketProducts.Count(); i++)
                            {
                                <input hidden name="productIds" value="@Model.BasketProducts.ElementAt(i).ProductId">
                                <input hidden name="quantities" value="@Model.BasketProducts.ElementAt(i).Quantity">
                            }
                        </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section addjs{
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/toastr.js/toastr.customize.js"></script>

    <script>
        $(document).ready(function () {

            $("#checkout-form").submit(function (ev) {
                ev.preventDefault();

                let fd = new FormData(ev.currentTarget); // form => formData

                $.ajax({
                    url: '@Url.Action("Checkout")',
                    type: "POST",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        $("#checkout-form span.text-danger").remove();
                        $("#checkout-form input[Name]").removeClass("novalidated");
                        //console.log(response, "SUCCESS");

                        if (response.error == true) {

                            toastr.error(response.message);
                            showError(response.state);

                            return;
                        }

                        swal({
                            title: "Success!",
                            text: "Your order has been completed, you will receive message in few days",
                            icon: "success",
                            button: "Ok",
                        });

                        ev.currentTarget.reset();
                    },
                    error: function (errResponse) {
                        console.log(errResponse, "ERROR");
                    }

                })


            })
        });

        function showError(state) {

            state.forEach(item => {
                //console.log(item)

                let errorInput = $(`#checkout-form input[name='${item.fieldName}']`);
                let errorSpan = $("<span/>", {
                    class: 'text-danger validation-error',
                    html: item.message
                });

                $(errorInput.parent()).append(errorSpan);
                $(errorInput).addClass("novalidated")
            });
        }
    </script>
                        }

