@addTagHelper *, FlameRestaurant.WebUI
@model PagedViewModel<Product>
<div class="tg-productgrid">
    @foreach (var item in Model.Items)
    {
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <div class="tg-postbook">
                <figure class="tg-featureimg">
                    <div class="tg-bookimg">
                        <div class="tg-frontcover">
                            <img src="~/uploads/images/@item.ImagePath"
                             alt="@item.Name" />
                        </div>
                        <div class="tg-backcover">
                            <img src="~/uploads/images/@item.ImagePath"
                             alt="@item.Name" />
                        </div>
                    </div>
                    <a class="tg-btnaddtowishlist"
                   href="javascript:addToFavorites(@item.Id);">
                        <i class="icon-heart"></i>
                        <span>add to wishlist</span>
                    </a>
                </figure>
                <div class="tg-postbookcontent">
                    <ul class="tg-bookscategories">
                        <li>
                            <a href="javascript:void(0);">@item.Category.Name</a>
                        </li>
                    </ul>
                    <div class="tg-themetagbox">
                        <span class="tg-themetag">sale</span>
                    </div>
                    <div class="tg-booktitle">
                        <h3>
                            <a asp-action="details" asp-route-id="@item.Id">@item.Name</a>
                        </h3>
                    </div>
                    <div class="tg-stars">
                        <rate rate-value="@item.Rate" rate-book-id="@item.Id"></rate>
                    </div>
                    <span class="tg-bookprice">
                        <ins>@(item.Price) ₼</ins>
                        <del>@item.Price ₼</del>
                    </span>
                    <a class="tg-btn tg-btnstyletwo"
                   onclick="addToBasket(event)" data-book-id="@item.Id">
                        <i class="fa fa-shopping-basket"></i>
                        <em>Add To Basket</em>
                    </a>
                </div>
            </div>
        </div>
    }
</div>



