@model PagedViewModel<Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Rezervasiyalar</h1>

@section addcss{
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css">
}


    <div class="page-wrapper">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <div class="d-inline">
                            <h4>Bootstrap Border Sizes</h4>
                            <span>
                                lorem ipsum dolor sit amet, consectetur adipisicing
                                elit
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item" style="float: left;">
                                <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                            </li>

                            <li class="breadcrumb-item" style="float: left;">
                                <span>Rezervasiyalar</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Horizontal Borders</h5>
                    <span>
                        Example of <code>horizontal</code> table borders. This is a
                        default table border style attached to <code>.table</code> class.
                        All borders have the same grey color and style, table itself doesn't
                        have a border, but you can add this border using
                        <code>.table-framed</code> class added to the table with
                        <code>.table</code> class.
                    </span>

                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Qonaq Adı
                                    </th>
                                    <th>
                                        Rezervasiya Tarixi
                                    </th>
                                    <th>
                                        Rezervasiya Saatı
                                    </th>
                                    <th class="operations">
                                    @if (User.HasAccess("admin.reservations.create"))
                                    {
                                        <a asp-action="Create" class="btn btn-sm btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </a>

                                    }
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="ellipse">
                                        @item.Name
                                    </td>
                                    <td class="ellipse">
                                        @item.Date
                                    </td>
                                    <td class="ellipse">
                                        @item.Time
                                    </td>
                                    <td>
                                    @if (User.HasAccess("admin.reservations.edit"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="fa-solid fa-pencil"></i></a>
                                    }
                                    @if (User.HasAccess("admin.reservations.details"))
                                    {
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa-solid fa-eye"></i></a>
                                    }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Model.GetPager(Url, "Index", "Admin")
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>


